<% include partials/header.ejs %>

<header class = "jumbotron py-4">
    <h2 style="font-weight:bold; letter-spacing:20px; font-size:60px">CONCETTO<br></h2>
    <p>Here are some of the best moments of Concetto</p>
        <a class="btn btn-danger" href="/concetto/new">Add a New Video To Concetto</a>
</header>


<div class = "container">
<div class = "row text-center" style = "display:flex; flex-wrap: wrap">
    <% concetto.forEach(video =>{ %>
        <div class = "col-md-4 col-sm-6">
            <div class = "img-thumbnail">
                <img class="img-thumbnail" src ="http://img.youtube.com/vi/<%= video.videoId %>/0.jpg">
                <div class = "caption">
                    <h4><%= video.name %> </h4><br>
                    <a href="/concetto/<%= video._id %>" class = "btn btn-primary mb-5">CLICK HERE<br> To Get Enlarged Video</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</div>

<% include partials/footer.ejs %>
