<% include partials/header %>


  <!-- SHOWCASE -->

  <section >
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 img-responsive active">
          <div class="grey-overlay">
          <div class=" container">
            <div class="carousel-caption d-none d-sm-block mb-5" style="text-shadow: 1px 1px 50px black; ">
              <h1 class="display-3" style=" font-weight: bold;">IIT ISM DHANBAD</h1><br>
              <p class="lead" style=" font-weight: bold; font-size: 22px;">Welcome to the IIT ISM Dhanbad</p><br>
              <a href="#iitism" class="btn btn-primary btn-lg">Know More</a>
            </div>
          </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2 img-responsive">
          <div class="container">
          <div class="grey-overlay">       
            <div class="carousel-caption d-none d-sm-block text-right mb-5" style="text-shadow: 1px 1px 50px black;">
              <h1 class="display-3" style=" font-weight: bold;">SRIJAN</h1><br>
              <p class="lead" style=" font-weight: bold; font-size: 22px;">Welcome to the Cultural fest of IIT ISM Dhanbad</p><br>
              <a href="#srijan" class="btn btn-danger btn-lg">Know More</a>
            </div>
          </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3 img-responsive">
          <div class="container">
          <div class="grey-overlay">       
            <div class="carousel-caption d-none d-sm-block mb-5" style="text-shadow: 1px 1px 50px black; ">
              <h1 class="display-3" style=" font-weight: bold;">CONCETTO</h1><br>
              <p class="lead" style=" font-weight: bold; font-size: 22px;">Welcome to the Techno-Management fest of IIT ISM Dhanbad</p><br>
              <a href="#concetto" class="btn btn-primary btn-lg">Know More</a>
            </div>
          </div>
          </div>
        </div>        

        <div class="carousel-item carousel-image-4 img-responsive">
          <div class="grey-overlay">          
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-left mb-5" style="text-shadow: 1px 1px 50px black; ">
              <h1 class="display-3" style=" font-weight: bold;">BASANT</h1><br>
              <p class="lead" style=" font-weight: bold; font-size: 22px;">Welcome to the  Alumni's meet of IIT ISM Dhanbad</p><br>
              <a href="#basant" class="btn btn-success btn-lg">Know More</a>
            </div>
          </div>
        </div>
        </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>





  <!-- ABOUT / WHY SECTION -->
  <section id="about" class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5" id="iitism">
            <h1 class="text-primary pb-3">
              IIT ISM DHANBAD
            </h1>
            <p class="lead pb-3">
              IIT ISM Dhanbad is one of the most reputed colleges of India.It is the third oldest institute which got converted into an IIT. It was established by British Indian Government on the lines of the Royal School of Mines - London.
            </p>
          </div>

          <!-- ACCORDION -->
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" id="heading1">
                <h5 class="mb-0" id="srijan">
                  <div id="srijan" href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                    <img src="img/arrow.png" height="33" width="33" alt=""><a style=" cursor: pointer; color:blue" onmouseover="" > About Srijan </a>
                  </div>
                </h5>
              </div>

              <div id="collapse1" class="collapse show">
                <div  class="card-body">
                  Srijan is the annual socio-cultural festival of Indian Institute of Technology (Indian School of Mines), Dhanbad. Organized every year in March, Srijan is one of the biggest festivals of its kind in the Eastern India. The festival is embarked by a footfall of more than 5000 students from more than 100 institutions across the country. Formerly known as Saturnalia, the festival was first conducted in 1977.
                  Srijan conducts a plethora of events encompassing various domains like music, drama, dance, fine arts, quizzing, MUN and others contested amongst best in the country. The festival is a flamboyant platform for students to gain exposure and explore the diverse talents of today's youth. The festival has had the privilege of hosting Star Nights, rock concerts and EDM Nights by both Indian and foreign artists.
                  The likes of Salim Sulaiman, Simon Webb, KK, Shilpa Rao, Mindshift have previously been a part of Srijan. Srijan is a splendid brew of fun, knowledge, excitement and ecstasy that brings alive the magnificent campus of IIT(ISM) Dhanbad.
                  <br>
                  <br>
                  <a class="btn btn-danger" href="/srijan" >Go To Srijan Page</a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="heading2">
                <h5 class="mb-0" id="concetto">
                  <div   href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <img src="img/arrow.png" height="33" width="33" alt=""> <a style=" cursor: pointer; color:blue" onmouseover="">About Concetto</a>
                  </div>
                </h5>
              </div>

              <div id="collapse2" class="collapse">
                <div class="card-body">
                  Concetto is The Annual Techno-Management Festival of IIT (ISM), Dhanbad.
                  It was first held in 2012, and has since grown into one of the largest technical festivals in Eastern India.The forte of this festival lies not only in its spectacular display of technical acumen but also in its wide platform for entrepreneurial undertakings and social initiatives. The 3 days technical fiesta of IIT(ISM) - "CONCETTO" is one of the largest Techno-management fest in Eastern India with a massive participation of more than 2000 participants from 300 different colleges and institutes, who stalk the grounds of ISM to prove their technical expertise. Encompassing the various boundaries of science and technology, Concetto is there with 45 events in all providing a platform to shoot the "TECHNICAL ME" of everyone. Apart from the various Robotics and Coding events, Concetto calls all you budding entrepreneurs to showcase your innovative business skills.
                  <br>
                  <br>
                   <a class="btn btn-danger" href="/concetto">Go To Concetto Page</a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="heading3">
                <h5 class="mb-0" id="basant">
                  <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                    <img src="img/arrow.png" height="33" width="33" alt=""><a style="cursor: pointer; color:blue" onmouseover=""> About Basant <a>
                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse">
                <div class="card-body">
                  Basant is the Annual Alumni Reunion of Indian Institute of Technology (Indian School of Mines), Dhanbad. It is a fest which unites all the members of IIT ISM, either he is a student or he is an alumni. It is a event to recall that every 
                  successfull person is once a student of the very same institute.
                  <br>
                  <br>
                   <a class="btn btn-danger" href="/basant" >Go To Basant Page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- CONTACT -->

  
  <section id="contact" class="bg-light py-5" style="border-top:1px #ddd solid">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h3>Get In Touch</h3>
          <p class="lead">If you have any issues regarding this website, Feel free to contact. Your reviews are important for us.</p>
          <form>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea class="form-control" placeholder="Message" rows="5"></textarea>
              </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
          </form>
        </div>
        <div class="col-lg-3 align-self-center">
          <img src="img/mlogo.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

<% include partials/footer %>
